<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_Webpage</title>
</head>
<body>
  <center><table border="2px"><tr><th>display_Webpage</th></tr>
   <tr><th>topi_name</th><th>name</th><th>url</th><th>email</th></tr>
         {% for wo in webpage %}
            <tr>
              <td>{{wo.pk}}</td>
              <td>{{wo.topic_name}}</td>
               <td>{{wo.name}}</td>
               <td>{{wo.url}}</td>
              <td>{{wo.email}}</td>
              
            </tr>
         {% endfor %}


    </table></center>
</body>
</html>

